* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  background-color: #090E16;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: #0F1120;
  backdrop-filter: blur(8px);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

li a {
  position: relative;
  color: #9b9ca4;
  font-weight: 100;
  margin-right: 20px;
}

li a::before {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  height: 3px;
  top: 24px;
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, #8a5ab6, #290576);
}

li a:hover::before {
  width: 100%;
}

.fa-solid {
  color: #9b9ca4;
  margin-left: 21px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.visit-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(to right, #8a5ab6, #290576);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-left: 50px;
}

.visit-btn i {
  font-size: 20px;
  color: white;
  transition: color 0.3s ease;
}

.visit-btn:hover {
  background: linear-gradient(to right, #290576, #8a5ab6);
}

.visit-btn:hover i {
  color: #7b4ae2;
}


#menu-icon {
  font-size: 2rem;
  display: none;
}

section {
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.info-box h3 {
  display: flex;
  color: #7B4AE2;
  background-color: #14142B ;
  width: 160px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.info-box h1 {
  color: white;
  font-size: 52px;
}

.info-box span {
  background: linear-gradient(to right, #8a5ab6, #290576);
  font-size: 20px;
  background-clip: text;
  color: transparent;
}

.btn-group {
  display: flex;
  gap: 1rem;
  margin-top: 7px;
  color: #412C7C;
}

.btn-group a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.btn {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid #412C7C;
  cursor: pointer;
  font-weight: 300;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #412C7C;
  color: #7b4ae2;
  border-color: #14142B;
}

.separator_1 {
  border: none;
  height: 0.3px;
  background-color: #291c4c;
  margin: 0px 200px;
}

.section-title {
  display: flex;
  color: #7B4AE2;
  background-color: #14142B ;
  width: 160px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}

.section-title-name {
  color: white;
  font-size: 42px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-me-p {
  color: #84878B;
  margin-top: 17px;
  font-size: 18px;
}

.social-links-sm {
  margin-top: 40px;
}

.social-links-sm {
  display: flex;
  gap: 15px;
}

.social-links-sm a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.social-links-sm i {
  font-size: 30px;
  color: #86878B;
  transition: transform 0.3s ease;
  transition: 0.3s ease-in-out;
}

.social-links-sm a:hover i {
  color: #7b4ae2;
}

.section-title-2 {
  display: flex;
  color: #7B4AE2;
  background-color: #14142B ;
  width: 130px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 35px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #090E16;
}

::-webkit-scrollbar-thumb {
  background-color: #8a5ab6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7b4f9f;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 3rem;
}

.project-card {
  padding: 1.3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: 1.5rem;
  border: 1px solid #7b4f9f;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.project-card h3 {
  color: white;
  font-size: 15px;
}

.project-card p {
  color: #86878B;
  font-size: 13px;
}

.project-card .status-and-skills {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 10px;
}

.project-status,
.project-skills {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  height: 25px;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
}

.project-status {
  background-color: #1C4E3A ;
  width: 60px;
  height: 25px;
  border-radius: 10px;
  margin-bottom: -13px;
  color: #4AE290;
  font-weight: 600;
  text-align: center;
  font-size: 13px;
}

.project-skills {
  background-color: #1E193E ;
  width: 50px;
  height: 25px;
  border-radius: 10px;
  margin-bottom: -13px;
  color: #7B4AE2;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.project-card:hover {
  background-color: #14142B;
  border-color: #14142B;
}

.project-card img {
  align-self: center;
  width: 15vw;
  border-radius: 1rem;
}

.section-title-3 {
  display: flex;
  color: #7B4AE2;
  background-color: #14142B ;
  width: 100px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 35px;
}

.section-title-projects {
  color: white;
  font-size: 32px;
  margin-top: -15px;
  margin-bottom: 35px;
}

.section-title-subtitle {
  text-align: center;
  color: #84878B;
  font-size: 17px;
  margin-top: 80px;
  margin-bottom: 25px;
  font-weight: unset;
}

.tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icons-tecnologias img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 0.5rem;
}

.section-title-subtitle_2 {
  text-align: center;
  color: #84878B;
  font-size: 17px;
  margin-top: 60px;
  margin-bottom: 25px;
  font-weight: unset;
}

.section-title-4 {
  display: flex;
  color: #7B4AE2;
  background-color: #14142B ;
  width: 130px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 35px;
}

.section-title-carreira {
  color: white;
  font-size: 32px;
  margin-top: -15px;
  margin-bottom: 35px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.github-button {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  font-size: 13px;
  border: 2px solid #00ff99;
  border-radius: 20px;
  background-color: transparent;
  color: #00ff99;
  font-weight: bold;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
}

.github-button .github-icon {
  margin-right: 6px;
}

.github-button .arrow-icon {
  margin-left: 6px;
  transition: transform 0.3s;
}

.github-button:hover {
  border-color: #008f5a;
  color: #008f5a;
}

.github-button:hover .arrow-icon {
  transform: translateX(4px);
}

.exp-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  padding: 20px;
  align-items: stretch;
  text-align: center;
}

.exp-container h2 {
  color: white;
  text-align: center;
}

.exp-container h3 {
  color: white;
  text-align: center;
  margin: 10px;
}

.status {
  color: #86878B;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 59px;
}

.exp-container .date {
  text-align: right;
  margin-top: 30px;
}

.card span {
  color: #86878B;
}

.card-tipe2 span {
  color: #86878B;
}

.exp-section .date {
  color: #4AC97E;
  font-weight: 600;
}

.exp-section {
  flex: 1;
}

.card {
  background-color: #1e3f32b8;
  border: 1px solid #00ff99;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  transition: 0.3s ease-in-out;
  margin-bottom: 30px;
}

.card-tipe2 {
  background-color: #090E16;
  border: 1px solid #7b4f9f;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  transition: 0.3s ease-in-out;
  margin-bottom: 30px;
}

.card:hover {
  border-color: #090E16;
}

.card-tipe2:hover {
  border-color: #090E16;
  background-color: #14142B;
}

.separator_2 {
  border: none;
  height: 0.3px;
  background-color: #1a1230;
  margin: 0px 80px;
}

.social-links-footer {
  margin-top: 40px;
  display: grid;
}

.social-links-sm {
  display: flex;
  gap: 15px;
}

.social-links-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.social-links-footer i {
  font-size: 30px;
  color: #86878B;
  transition: transform 0.3s ease;
  transition: 0.3s ease-in-out;
}

.social-links-footer a:hover i {
  color: #7b4ae2;
}

.social-links-footer {
  justify-content: right;
  margin-right: 100px;
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.social-links-footer a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.copyright {
  justify-content: left;
  margin-top: 30px;
  margin-left: 110px;
  margin-bottom: -50px;
}

.copyright-text {
  color: #84878B;
  font-size: 14px;
}

/* RESPONSIVIDADE */

@media(max-width:1280px){
  .nav-links {
    display: none;
  }

  header {
    padding: 1rem 2rem;
    gap: 2rem;
  }

  .about .about-container {
    gap: 3rem;
  }

  .exp-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .exp-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .card,
  .card-tipe2 {
    display: flex;
    flex-direction: column;
    padding: 12px; 
    border-radius: 8px;
    gap: 8px;
  }

  .card h3,
  .card-tipe2 h3 {
    font-size: 1.2rem;
  }

  .card span,
  .card-tipe2 span {
    font-size: 0.9rem;
  }

  .card .date,
  .card-tipe2 .date {
    font-size: 0.8rem;  
  }

  .icons-tecnologias img {
    width: 33px;
    height: 38px;
  }

  .icons-tecnologias {
    gap: 12px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
  }

  .project-card img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
  }

  #footer .social-links-footer {
    display: none;
  }

  .copyright {
    text-align: center;
    margin: 20px auto;
  }
}

@media(max-width:800px){
  
}

@media(max-width:600px){
  
}